body {
  background-color: beige;
  height: 100vh;
}

/*Pages en construction*/

.construct {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 30px;
  height: 200px;
}

/*Header*/

.img-accueil {
  width: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  width: 95%;
}

.navbar-toggler {
  position: absolute; 
  top: 20px;
  right: 10px;
  background-color: rgb(143, 153, 163);
}

/*Barres de défilement, code trouvé sur internet*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.dropdown-menu a {
  color: lightgray;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

/*Sections*/

/*Index*/
.who, .values {
  background-color:rgba(189, 47, 59, 0.7);
  border-radius: 45px;
  padding: 15px;
  margin: 15px;
  margin-top: 30px;
}

.title_missions {
  margin-left: 30px;
}

.carousel {
  background-color:rgba(189, 47, 59, 0.7);
  border-radius: 45px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  padding-bottom: 25px;
}

.mission ul li {
  list-style-type: none;
}

.img-fluid {
  border-radius: 100%;
  max-height: 237.09px;
}



/*Footer*/

footer {
  background-color: rgba(128, 128, 128, 0.5);
  padding-top: 15px;
  padding-bottom: 5px;
  margin-top: 40px;
}

footer ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(63, 60, 60);
}

footer ul li a:hover {
  color: rgba(189, 47, 59, 0.7);
  text-decoration: underline;
}

.mention, .author {
  display: flex;
  justify-content: space-around;
}

.mention li, .author li {
  list-style-type: none;
}

/*Média queries*/

@media screen and (min-width: 690px) {
  .navbar-nav-scroll {
    max-height: 250px;
  }
}

@media screen and (min-width: 992px) { 
  .navbar-nav > .nav-item > .nav-link { 
    color: black;
    font-weight: bold;
  }

  .dropdown-menu a {
    color: black;
  }
}

@media screen and (min-width: 1060px) {
  .img-accueil {
    max-height: 500px;
  }

  .who , .values {
    max-width: 70%;
  }

  .missions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .title_missions {
    align-self: center;
  }

  .carousel {
    padding-top: 25px;
    max-width: 70%;
    min-width: 70%;
  }
}
